body {
    font-family: 'Arial', sans-serif;
}

h1, h2 {
    font-family: 'Georgia', serif;
}

header {
    background-image: url('imagens/banner-petshop.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
img {
    max-width: 100%; 
    height: auto; 
}

#sobre-nos-img {
    max-width: 600px; 
    width: 100%; 
}


footer {
    background-color: #333;
    color: #fff;
}
